IC/IC.WCF.Client/Connected Services/ICWcfService/ICWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ICWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding__ICWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding___ICWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8006/wcfhttpservice/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8006/wcfhttpservice/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8006/wcfhttpservice/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IC.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="_ICWcfService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="_ICWcfService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="_ICWcfService_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="_ICWcfService_RegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="_ICWcfService_SendMessageToClient_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToClient" />
  </wsdl:message>
  <wsdl:message name="_ICWcfService_SendMessageToClient_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToClientResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="_ICWcfService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/__ICWcfService/SendMessage" message="tns:_ICWcfService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/__ICWcfService/SendMessageResponse" message="tns:_ICWcfService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/__ICWcfService/RegisterClient" message="tns:_ICWcfService_RegisterClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/__ICWcfService/RegisterClientResponse" message="tns:_ICWcfService_RegisterClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessageToClient">
      <wsdl:output wsaw:Action="http://tempuri.org/_ICWcfService/SendMessageToClient" message="tns:_ICWcfService_SendMessageToClient_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/_ICWcfService/SendMessageToClientResponse" message="tns:_ICWcfService_SendMessageToClient_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="__ICWcfService">
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/__ICWcfService/SendMessage" message="tns:_ICWcfService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/__ICWcfService/SendMessageResponse" message="tns:_ICWcfService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/__ICWcfService/RegisterClient" message="tns:_ICWcfService_RegisterClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/__ICWcfService/RegisterClientResponse" message="tns:_ICWcfService_RegisterClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding__ICWcfService" type="tns:_ICWcfService">
    <wsp:PolicyReference URI="#NetTcpBinding__ICWcfService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/__ICWcfService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/__ICWcfService/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToClient">
      <soap12:operation soapAction="http://tempuri.org/_ICWcfService/SendMessageToClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding___ICWcfService" type="tns:__ICWcfService">
    <wsp:PolicyReference URI="#WSHttpBinding___ICWcfService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/__ICWcfService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/__ICWcfService/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ICWcfService">
    <wsdl:port name="NetTcpBinding__ICWcfService" binding="tns:NetTcpBinding__ICWcfService">
      <soap12:address location="net.tcp://localhost:8007/wcftcpservice" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8007/wcftcpservice</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding___ICWcfService" binding="tns:WSHttpBinding___ICWcfService">
      <soap12:address location="http://localhost:8006/wcfwsservice" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8006/wcfwsservice</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>