IC/IC.WCF.ConsoleHost.Test/Connected Services/ICWcfService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/IC.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IC.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8006/wcfhttpservice/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MessageRequest">
    <xs:sequence>
      <xs:element name="CommandId" nillable="true" type="xs:string" />
      <xs:element name="CommandRequestJson" nillable="true" type="xs:string" />
      <xs:element name="MessageGuid" type="ser:guid" />
      <xs:element name="RequestDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageRequest" nillable="true" type="tns:MessageRequest" />
  <xs:complexType name="MessageResponse">
    <xs:sequence>
      <xs:element name="CommandResponseJson" nillable="true" type="xs:string" />
      <xs:element name="MessageGuid" type="ser:guid" />
      <xs:element name="ResponseDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageResponse" nillable="true" type="tns:MessageResponse" />
</xs:schema>